{% extends "accounts/base.html" %}
{% block content %}
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Клиент: {{ customer.name }}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Обновить данные</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_order' customer.id %}">Дабавить заказ</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Контакты</h5>
			<hr>
			<p>Электронная почта: {{ customer.email }}</p>
			<p>Телефон: {{ customer.phone }}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Всего заказов</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ orders_count }}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Поиск</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Товар</th>
					<th>Категория</th>
					<th>Дата заказа</th>
					<th>Статус</th>
					<th>Обновление</th>
					<th>Удаление</th>
				</tr>
				{% for order in orders %}
				<tr>
					<td>{{ order.product }}</td>
					<td>{{ order.product.category }}</td>
					<td>{{ order.date_created }}</td>
					<td>{{ order.status }}</td>
					<td><a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update_order' order.id %}">Обновление</a></td>
					<td><a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'delete_order' order.id %}">Удаление</a></td>
				</tr>

				{% endfor %}
				<tr>

				</tr>

			</table>
		</div>
	</div>
</div>
{% endblock content %}